.space_racer.form {
  background: #444442;
  border: 1px solid #ca8c39;
}

.form {
  max-width: 70%;
  margin: 3rem auto;
  padding: 5%;
}

.space_racer h2 {
  color: #f7cb99;
  margin: 0;
}

.space_racer label {
  color: #ecbe82;
}

.welcome {
  color: #ecbe82;
}

/* .control {
  margin-right: 0;
} */

input {
  color: #ecbe82;
}

.control input {
  background: #838282;
  border-radius: 4px;
  max-width: 15rem;
  background-color: #363636;
}

.space_racer input:focus {
  background-color: #665744;
}

.email input {
  margin: auto;
}

.control.no-margin {
  margin-bottom: 0;
}

legend {
  color: #ecbe82;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #147b73;
  color: #d9e2f1;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #319890;
}

.button-flat {
  background-color: transparent;
  color: #9cbaba;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #869999;
}

@media (min-width: 60rem) {
  .form {
    margin: 5rem auto;
    padding: 2rem;
    max-width: 40rem;
    min-height: 40vh;
    border-radius: 20px;
  }

  .form.sign-in {
    max-width: 20rem;
  }

  fieldset {
    margin-top: 5rem;
  }
}
