.container {
  position: absolute;
  top: 3rem;
}

@media (min-width: 60rem) {
  .container {
    top: 5%;
    left: 5%;
    right: 10%;
  }
}

@media (min-width: 80rem) {
  .container {
    left: 20%;
    right: 25%;
  }
}

@media (min-width: 100rem) {
  .container {
    left: 25%;
    right: 25%;
  }
}
