.control {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(40, 50, 90, 0.1);
}

.activate {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

.themes_dropdown {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
}
